// header
header.header
  .header__title
    h1.header__title-text Заголовок страницы
    .header__title-desc В отличие от пылевого и ионного хвостов, направление поступает в лимногляциальный часовой угол
