//sidebar
aside.sidebar
  .sidebar__logo
    .sidebar__logo-img
  ul.sidebar__list
    li.sidebar__list-item
      a(href="javascript:void(0);").sidebar__list-item-link
        span Первая ссылка
    li.sidebar__list-item
      a(href="javascript:void(0);").sidebar__list-item-link
        span Вторая ссылка (активная)
    li.sidebar__list-item
      a(href="javascript:void(0);").sidebar__list-item-link
        span Третья ссылка
    li.sidebar__list-item
      a(href="javascript:void(0);").sidebar__list-item-link.sidebar__list-item-link_color
        span Личный кабинет
    li.sidebar__list-item
      a(href="javascript:void(0);").sidebar__list-item-link.sidebar__list-item-link_color
        span Выйти
